<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <!-- ensures that the site has no horizontal scrolling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!-- totally more pragmatic than Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <!-- for the login popup -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
          $( "#dialog" ).dialog();
        } );
        </script>

        <!-- import Lato font -->
        <style>
        @import url('https://fonts.googleapis.com/css?family=Lato');
        </style>
    </head>
    <body>
      <div id="dialog" title="Login">
        <p>Username:<input type="text" name="user"></p>
        <p>Password:<input type="text" name="user"></p>
        <button>Log in</button>
        <p class="facebookLogin"><center>or</center></p>
        <center><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button></center>
      </div>


        <div class="menu" id="main-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Menu</div>
            </div>
            <div class="menu-content">
                <button>Profile</button>
                <button>Majors</button>
                <button>Minors</button>
                <button>Colleges</button>
                <button>Catalog</button>
                <button>To Add</button>
                <button>Settings</button>
            </div>
        </div>
        <div class="menu" id="profile-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Profile</div>
            </div>
            <div class="menu-content">
                {{#with user}}
                    <h1>Hello, {{firstName}}!</h1>
                        <div id="user-major">
                        {{#if majors}}
                            You are majoring in:
                            <ul>
                            {{#each majors}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>
                        {{/if}}
                        </div>
                        <div id="user-minor">
                        {{#if minors}}
                            You are minoring in:
                            <ul>
                                {{#each minors}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                        </div>
                        <div id="user-college">
                        {{#if college}}
                            You are in {{college}} College
                        {{/if}}
                        </div>
                {{/with}}
            </div>
        </div>
        <div class="menu" id="majors-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Majors</div>
            </div>
            <div class="menu-content">
            {{#each majors}}
                {{#unless (isIn @key ../user/majors)}}
                <div class="choice">
                    <button class="name" data-code="{{@key}}">{{name}}</button>
                    <button class="confirm">Add</button>
                </div>
                {{/unless}}
            {{/each}}
            </div>
        </div>
        <div class="menu" id="minors-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Minors</div>
            </div>
            <div class="menu-content">
            {{#each minors}}
                {{#unless (isIn @key ../user/minors)}}
                <div class="choice">
                    <button class="name" data-code="{{@key}}">{{name}}</button>
                    <button class="confirm">Add</button>
                </div>
                {{/unless}}
            {{/each}}
            </div>
        </div>
        <div class="menu" id="colleges-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Colleges</div>
            </div>
            <div class="menu-content">
            {{#each colleges}}
                {{#unless (isEqual @key ../user/college)}}
                <div class="choice">
                    <button class="name" data-code="{{@key}}">{{@key}}</button>
                    <button class="confirm">Select</button>
                </div>
                {{/unless}}
            {{/each}}
            </div>
        </div>
        <div class="menu" id="catalog-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Catalog</div>
            </div>
            <div class="menu-content">
                {{#each courses}}
                    <div class="choice">
                        <button class="name" data-code="{{@key}}">{{@key}}</button>
                        <button class="confirm">Plan</button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="menu" id="toadd-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">To Add</div>
            </div>
            <div class="menu-content">

            </div>
        </div>
        <div class="menu" id="settings-menu">
            <div class="menu-top">
                <button></button>
                <div class="name">Settings</div>
            </div>
            <div class="menu-content">
                <div>This is where you can adjust colors, but you have to pay extra for it.</div>
            </div>
        </div>
        <div id="topbar">
            <button></button>
            <div id="tabs">

            </div>
        </div>
        <main>
            {{#with user}}
                {{#each schedules}}
                    <div class="schedule" data-schedule="{{name}}">
                    {{#each years}}
                        <div class="year" data-year="{{name}}">
        					<div class="year-label">{{name}}</div>
                            {{#each terms}}
                                {{{populateTerm id courses}}}
                            {{/each}}
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            {{/with}}
        </main>
        <div id="info">

        </div>
        <div id="course-info">

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/index.js"></script>

        {{> facebook}}

    </body>
</html>
