<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <!-- ensures that the site has no horizontal scrolling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!-- totally more pragmatic than Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="menu" id="main-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Menu</div>
            </div>
            <div class="menu-content">
                <button>Profile</button>
                <button>Majors</button>
                <button>Minors</button>
                <button>Gen Ed</button>
                <button>Catalog</button>
                <button>To Add</button>
                <button>Settings</button>
            </div>
        </div>
        <div class="menu" id="profile-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Profile</div>
            </div>
            <div class="menu-content">
                {{#with user}}
                    <h1>Hello, {{firstName}}!</h1>
                    {{#if majors}}
                        <div>You are majoring in:
                            <ul>
                            {{#each majors}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                    {{#if minors}}
                        <div>You are minoring in:
                            <ul>
                                {{#each minors}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                    {{#if college}}
                        <div>You are in {{college}} College</div>
                    {{/if}}
                {{/with}}
            </div>
        </div>
        <div class="menu" id="majors-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Majors</div>
            </div>
            <div class="menu-content">
            {{#each majors}}
                <div class="choice">
                    <button class="name">{{name}}</button>
                    <button class="confirm">Add</button>
                </div>
            {{/each}}
            </div>
        </div>
        <div class="menu" id="minors-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Minors</div>
            </div>
            <div class="menu-content">
            {{#each minors}}
                <div class="choice">
                    <button class="name">{{name}}</button>
                    <button class="confirm">Add</button>
                </div>
            {{/each}}
            </div>
        </div>
        <div class="menu" id="gened-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Gen Ed</div>
            </div>
            <div class="menu-content">
            {{#each colleges}}
                <div class="choice">
                    <button class="name">{{@key}}</button>
                    <button class="confirm">Select</button>
                </div>
            {{/each}}
            </div>
        </div>
        <div class="menu" id="catalog-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Catalog</div>
            </div>
            <div class="menu-content">
                {{#each courses}}
                    <div class="choice">
                        <button class="name">{{@key}}</button>
                        <button class="confirm">Plan</button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="menu" id="toadd-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">To Add</div>
            </div>
            <div class="menu-content">
                <div class="set">
                    <div class=requirement>
                        <div class="course draggable drag-drop">
                            COGS 100
                        </div>
                        <div class="course draggable drag-drop">
                            COGS 101
                        </div>
                        <div class="course draggable drag-drop">
                            COGS 102
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu" id="requirement-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name"></div>
            </div>
            <div class="menu-content">
            </div>
        </div>
        <div class="menu" id="settings-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div class="name">Settings</div>
            </div>
            <div class="menu-content">
                <div>This is where you can adjust colors or something.</div>
            </div>
        </div>
        <div id="topbar">
            <button></button>
            <div id="tabs">

            </div>
        </div>
        <main>
            <div id="info">

            </div>
            {{#with user}}
                {{#each schedules}}
                    <div class="schedule active">
                    {{#each years}}
                        <div class="year" id="{{@index}}">
        					<div class="year-label">{{name}}</div>
                            {{#each terms}}
                                {{{populateTerm id courses}}}
                            {{/each}}
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            {{/with}}
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
        <script src="/js/menus.js"></script>
        <script src="/js/draggable.js"></script>
    </body>
</html>
